<div class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" id="modalAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('form_exec_add_user') }}" method="post" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font_exo_2" id="myModalLabel">Ajout d'une Panne</h4>
                </div>
                <div class="modal-body">
                    <div class="main_container">
                        <input type="hidden" name="formAction" value="add">
                        <div class="form-group">
                            <label for="fos_user_registration_form_username" class="col-sm-4 control-label align_right font_exo_2 required">Nom d&#039;utilisateur</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    <input class="form-control font_exo_2" type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fos_user_registration_form_email" class="col-sm-4 control-label align_right font_exo_2 required">Adresse e-mail</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    <input class="form-control font_exo_2" type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fos_user_registration_form_plainPassword_first" class="col-sm-4 control-label align_right font_exo_2 required">Mot de passe</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    <input class="form-control font_exo_2" type="text" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" />
                                    <input type="hidden" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" />
                                </div>
                            </div>
                        </div>
                        {% if formAdd is defined %}
                            {{ form_widget(formAdd._token) }}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-success" onclick="submit();">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>